<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div class="small sidebar-layout">
      <aside class="sidebar">
        <div class="header">
          <h1>Adjourn UI</h1>
          <h2>CSS UI framework for Adjourn. Built with Tailwind CSS.</h2>
        </div>
        {% render "navigation", metadata: site.metadata, page: page, components: site.component_documentation %}
      </aside>
      <main class="p-4">
        {{ content }}
      </main>
    </div>
  </body>
</html>
