.sidebar {
  @apply absolute inset-y-0 left-0 flex flex-col justify-between border-r shadow-inner overflow-y-auto
         transition-all ease-in-out duration-500 z-20;
  background-color: #efefef;
  width: 250px;

  &.small {
    width: 175px;
  }

  .sidebar-content {
    @apply overflow-x-auto;

    .sidebar-header {
      @apply text-center p-4 my-8;

      img { @apply inline; }

      h1 { @apply text-lg font-bold; }
      h2 { @apply text-sm opacity-75; }
    }
  }

  .sidebar-footer {
    @apply p-2;
  }

  /* Collapsing & Expanding */
  .collapse-button {
    @apply absolute right-0 -mr-2;
    top: 100px;
  }

  &:not(.collapsed) .hidden-expanded { @apply hidden; }
  &.collapsed {
    .hidden-collapsed { @apply hidden; }

    .media {
      @apply flex justify-center;
      .media-text { @apply hidden; }
    }

    .navigation-item { @apply pl-0; }
  }
}

.sidebar-overlay {
  @apply hidden w-full fixed inset-x-0 inset-y-0 bg-black opacity-25 z-10 cursor-pointer;
}

@screen md {
  .sidebar {
    @apply relative;

    &.slide-over { @apply absolute inset-y-0 left-0; }
  }
}
